@import "../../../../../shared/variables";

$timeline-item:'.timeline-item';

#{$timeline-item}{

  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 1rem;
  margin: 1rem 0rem;
  border-radius: 4px;

  &__bottom,
  &__top{
    display: flex;
  }

  &__bottom{
    justify-content: space-between;
  }


  &__left{
    width: 95%;
    display: flex;
    padding: 1rem 0rem;
  }

  &__right{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content{
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__after-avatar{
    display: flex;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    margin-left: 1rem;
  }

  &__arrow{
    font-size: 2rem;
  }

  &__date{
    font-size: 1rem;
    font-weight: $boldWeight;
  }

  &__link{
      font-size: 1rem;
      font-weight: $boldWeight;
      padding-bottom: 0.25rem;
      position: relative;
      cursor: pointer;
      color: $secondaryBlack;
  }

  &__link:hover::before{
    transform: scale3d(1,1,1);
  }

  &__link::before{
    background: currentColor;
    content: '';
    position: absolute;
    bottom: calc(0% - 2px);
    right: 0px;
    height: 3px;
    color: $primaryColor;
    width: 100%;
    transform: scale3d(0,1,1);
    transform-origin: 0% 100%;
    transition: transform 0.5s;
  }

  &__user-avatar{
    margin-left: 1rem;
  }

  &__text{
    width: 85%;
  }

  &__details,
  &__show,
  &__hide{
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
  }

  &__emoji{
    margin-left: 0.5rem;
  }


  &__bottom{
    padding: 1rem 5rem;
  }


  &__shelf-link{
    font-size: 0.9rem;
    font-weight: $boldWeight;
    height:2.313rem;
    display: inline-block;
    text-align: center;
    background-color: $primaryHover;
    color: $primaryColor;
    border-radius: 4px;
    padding: 0.5rem;
    transform: scale(1.15);
    margin-left: 1.5rem;
  }

  &__book{
    margin-left: 1rem;
    width: 70%;
    display: flex;
    padding: 0.5rem 0rem;
  }

  &__book-cover{
    display: flex;
    width: 4.688rem;
    height: 7.188rem;
  }

  &__shelf{
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  &__shelf-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: $boldWeight;
  }

  &__book-info{
      margin-left: 1.5rem;
      display: flex;
      flex-direction: column;
  }

  &__book-link{
    font-size: 1.25rem;
      color: #444;
      font-weight: $boldWeight;
      margin-bottom: 0.5rem;
  }

  &__author-link{
    font-weight: $boldWeight;
    color: $secondaryBlack;
  }

  &__series{
    position: relative;
  }

  &__series-text{
    font-weight: $boldWeight;
  }

  &__series-link{
    color: #444;
    margin-left: 0.5rem;
  }

  &__ratings{
    display: flex;
      align-items: center;
      margin-top: 0.5rem;
  }

  &__average{
    display: flex;
      align-items: center;
      margin-right: 1rem;
      font-weight: 700;
  }

  &__average-value{
    font-weight: 700;
    color: $primaryColor;
    margin-left: 0.5rem;
  }

  &__star-ratings::ng-deep .ant-rate{
    font-size: 0.92rem;
    color: $primaryColor !important;
  }

  &__menu{
    background-color: $menuBackground !important;
  }
}
