@import "../../../../../shared/variables";

$favourite-book-cover:'.favourite-book-cover';

#{$favourite-book-cover}{

  &__default{
    padding: 4rem 1.75rem;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    background-color: $secondaryColor;
    font-weight: $boldWeight;
  }

  &__img{
    max-width: 6.75rem;
  }

}
