@import "../../../../../shared/variables";

$pagination: ".timeline-pagination";

#{$pagination} {
  text-align: right;
  margin-top: 2.5rem;

  &__paginator::ng-deep.ant-pagination::ng-deep.ant-pagination-prev::ng-deep.ant-pagination-item-link {
    border: none;
    font-weight: 700;
    font-size: 1rem;
  }

  &__paginator::ng-deep.ant-pagination::ng-deep.ant-pagination-next::ng-deep.ant-pagination-item-link {
    border: none;
    font-weight: 700;
    font-size: 1rem;
  }

  &__paginator::ng-deep.ant-pagination::ng-deep.ant-pagination-item {
    border: none;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 50%;
  }

  &__paginator::ng-deep.ant-pagination::ng-deep.ant-pagination-item.ant-pagination-item-active {
    color: $primaryColor;
  }

  &__paginator::ng-deep.ant-pagination::ng-deep.ant-pagination-item:hover {
    background-color: rgb(236, 232, 255);
    color: $primaryColor;
  }
}


@media only screen and (max-width: 768px) {
  #{$pagination}{
    text-align: center;
  }
}
