@import "../../../../shared/variables";

$follow-author: ".follow-author";

#{$follow-author} {
  width: 100%;
  padding: 1rem;
  background-color: $primaryColor;
  color: $white;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  transition: ease-in-out 0.25s color;

  &.in-active{
    background-color: $white;
    color: $primaryColor;
    border: 2px solid $primaryColor;
    transition: none;
  }
}
