<div class="app-footer">
  <div class="container">
    <div class="app-footer__top">
      <div class="app-footer__top-item">
        <a class="app-footer__top-link">
          <span class="app-footer__logo">BL<dot></dot></span>
          <span class="app-footer__text">Booklovers</span>
        </a>
      </div>
      <div class="app-footer__top-item app-footer__github last">
        <i class="app-footer__logo" nz-icon nzType="github" nzTheme="outline"></i>
        <span class="app-footer__text">Github</span>
      </div>
    </div>
  </div>
</div>
