<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column is-10-fullhd is-10-widescreen is-10-desktop is-10-tablet is-10-mobile"
      style="padding: 6.5rem 0rem;">
      <div class="unauthorized">
        <div class="unauthorized__top">401<dot class="unauthorized__dot"></dot>
        </div>
        <div class="unauthorized__bottom">Unauthorized</div>
        <a (click)="onBack()" class="unauthorized__back">Back</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
