<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column is-10-fullhd is-10-widescreen is-10-desktop is-10-tablet is-10-mobile"
      style="padding: 6.5rem 0rem;">
      <div class="forbidden">
        <div class="forbidden__top">403<dot class="forbidden__dot"></dot>
        </div>
        <div class="forbidden__bottom">Forbidden</div>
        <a (click)="onBack()" class="forbidden__back">Back</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
