@import "../../../../shared/variables";

$book: ".bookcase-book-content";

#{$book}{
  padding: 0rem 1rem;

  &__data{
    margin-top: 0.25rem;
  }

  &__title{
    font-weight: $boldWeight;
    margin-bottom: 0.5rem;
  }

  &__title:hover{
    color: $descriptionGray;
  }

  &__authors{
    font-size: 1.15rem;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    color: $secondaryBlack;
    display: block;
  }

  &__author-item{
    margin-right: 0.5rem;
    position: relative;
    padding-bottom: 0.25rem;
    cursor: pointer;
    outline: none;
  }

  &__author-item:last-of-type{
    margin-right: 0rem;
  }

  &__author-item::before{
    background: currentColor;
    content: '';
    position: absolute;
    bottom: calc(0% - 1px);
    right: 0px;
    height: 3px;
    color: $primaryColor  ;
    width: 100%;
    transform: scale3d(0,1,1);
    transform-origin: 0% 100%;
    transition: transform 0.5s;
  }
  &__author-item:hover::before{
    transform: scale3d(1,1,1);
  }

  &__series{
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.3rem;
  }

  &__series-text{
    margin-right: 0.5rem;
    color: $primaryColor;
    font-weight: $boldWeight;

  }

  &__series-value{
    position: relative;
    padding-bottom: 0.25rem;
    cursor: pointer;
    color: $black;
  }

  &__series-value::before{
    background: currentColor;
    content: '';
    position: absolute;
    bottom: calc(0% - 2px);
    right: 0px;
    height: 3px;
    color: $primaryColor  ;
    width: 100%;
    transform: scale3d(0,1,1);
    transform-origin: 0% 100%;
    transition: transform 0.5s;
  }

  &__series-value:hover::before{
    transform: scale3d(1,1,1);
  }

  &__position{
    color: $primaryColor;
  }


  &__statistics-box{
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  &__statistics{
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  &__average{
    display: inline-block;
    margin-right: 1rem;
  }

  &__reviews{
    display: inline-block;
    margin-right: 0.5rem;
  }

  &__text{
    margin-right: 0.3rem;
  }

  &__value{
    color: $primaryColor;
    font-weight: $boldWeight;
  }

  &__ratings-count{
    display: inline-block;
    margin-right: 0.5rem;
  }

  &__in-bookcases{
    display: inline-block;
  }

  &__actions{
    display: flex;
    margin-top: 1rem;
  }
}
