@import "../../../../shared/variables";

$notification: ".change-shelf";
$actions: ".actions";

#{$notification}{
  display: flex;
  align-items: center;

  &__box{
    font-size: 1.25rem;
    padding: 0.8rem 0.8rem 0rem 0.8rem;
  }

  &__shelf-name{
    color: $primaryColor;
    font-weight: $boldWeight;
  }

  &__exclamation{
    font-size: 1.25rem;
  }

}

#{$actions}{
  padding: 0.5rem;

  &__clear,
  &__submit{
    font-size: 1rem;
    height: 2.2rem;
  }
}
