@import "../../../../shared/variables";

$shelf:".shelf";

#{$shelf}{
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.5rem 0.8rem 0.5rem;

  &__name{
    font-weight: $boldWeight;
    margin-left: 1rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 769px){
  #{$shelf}{

    align-items: center;

    &__count{
      margin-left: 0.75rem;
    }
  }
}

@media only screen and (max-width: 1024px){

#{$shelf}{

  align-items: center;

  &__count{
    margin-left: 0.75rem;
  }
}
}
