<div class="sorting-options">
    <div class="sorting-options__sort-by">Sort by:</div>
    <a nz-dropdown [nzDropdownMenu]="menu">
        {{sortNameOptions[sortNameText]}}
        <i nz-icon nzType="down"></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul class="sorting-options__menu" nz-menu nzSelectable>
            <li class="sorting-options__item" (click)="sortByTitle()" nz-menu-item>Title</li>
            <li class="sorting-options__item" (click)="sortByAverage()" nz-menu-item>Average</li>
            <li class="sorting-options__item" (click)="sortByPosition()" nz-menu-item>Position</li>
        </ul>
    </nz-dropdown-menu>
    <div class="sorting-options__descending">
      <label nz-checkbox (ngModelChange)="changeSortOrder()"
          [ngModel]="descending">Descending
      </label>
  </div>
</div>
