
<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column is-10-fullhd is-10-widescreen is-10-desktop is-10-tablet is-10-mobile"
      style="padding: 6.5rem 0rem;">
      <div class="not-found">
        <div class="not-found__top">404<dot class="not-found__dot"></dot>
        </div>
        <div class="not-found__bottom">Not found</div>
        <a (click)="onBack()" class="not-found__back">Back</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
