@import "../../../../shared/variables";

$currentShelves:".book-current-shelves";

#{$currentShelves}{
  font-size: 1rem;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;

  &__current-shelves-text{
    margin-right: 0.5rem;
    color: $primaryColor;
    font-weight: $boldWeight;
  }
  &__shelf-tag::ng-deep.tags__item > .tag{
    font-size: 0.75rem;
  }

}
