@import "../../../../shared/variables";

$custom-shelf: ".custom-shelf";

#{$custom-shelf}{
  display:inline-block;

  &__remove,
  &__edit,
  &__see{
    cursor: pointer;
    font-size: 1rem;
    padding: 0.35rem 0.5rem;
    display: flex;
    justify-content: space-between;
    transition: 0.2s all ease-in;
  }

  &__remove:hover{
    transform: scale(1.05);
    color: $primaryColor;
  }

  &__edit:hover{
    transform: scale(1.05);
    color: $primaryColor;
  }

  &__see:hover{
    transform: scale(1.05);
    color: $primaryColor;
  }

  &__icon-box{
    margin-left: 0.5rem;
  }
}
