@import "../../../../shared/variables";

$book-item:".book-item";

#{$book-item}{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 4px;
  transition: 0.2s ease-in box-shadow;
  cursor: pointer;
  color: $black;
}

#{$book-item}:hover{
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.1), 0 1px 3px 0 rgba(0,0,0,.08);
}

