<div class="columns is-centered">
  <div class="column is-half password-token-header">
    <a class="password-token-header__book-lovers">
      <span class="password-token-header__logo">BL<dot></dot></span>
      <span class="password-token-header__text">Booklovers</span>
    </a>
  </div>
</div>
<div class="container">
  <div class="columns is-centered">
    <div class="column is-4-fullhd is-4-widescreen is-4-desktop password-token-middle">
      <h1>Send verfication code</h1>
    </div>
  </div>
  <div class="columns is-centered is-mobile">
    <div class="column is-4-fullhd is-4-widescreen is-5-desktop is-5-tablet is-10-mobile">
      <ng-container *ngIf="this.facade?.form$ | async as form">
        <form class="password-token" nz-form [formGroup]="form">
          <ng-container>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="emailTemplate">
                <input class="password-token__input" nz-input type="text" formControlName="email"
                  placeholder="Email adress" />
              </nz-form-control>
              <ng-template #emailTemplate>
                <ng-container>
                  <div class="password-token__error">Email adress is missing!</div>
                </ng-container>
              </ng-template>
              <button (click)="generateToken(form)" class="password-token__btn" nz-button nzType="primary">Send verification code</button>
            </nz-form-item>
          </ng-container>
        </form>
      </ng-container>
    </div>
  </div>
</div>
