@import "../../../../shared/variables";

$add-series: ".add-series";
$actions: ".actions";

#{$add-series} {
  &__name {
    margin-bottom: 0rem;
  }
  &__label {
    font-weight: $boldWeight;
  }

  &__label ::ng-deep label::after {
    content: "" !important;
  }

  &__name-box{
    display: flex;
    align-items: center;
  }

  &__form-control{
    width: 100%;
  }

  &__spinner{
    margin-left: 1rem;
  }

  &__is-unique{
    font-size: 1.75rem;
    margin-left: 1rem;
    color: $primaryColor;
  }

  &__form-error{
    font-size: 0.8rem;
  }
}

#{$actions}{
  text-align: right;
}
