@import "../../../../shared/variables";

.load-more-comments{
  display: flex;
  justify-content: flex-end;
}

.reviews-pagination::ng-deep.ant-pagination::ng-deep.ant-pagination-prev::ng-deep.ant-pagination-item-link{
  border:none;
  font-weight: $boldWeight;
  font-size: 1.15rem;
}

.reviews-pagination::ng-deep.ant-pagination::ng-deep.ant-pagination-next::ng-deep.ant-pagination-item-link{
  border:none;
  font-weight: $boldWeight;
  font-size: 1.15rem;
}

.reviews-pagination::ng-deep.ant-pagination::ng-deep.ant-pagination-item{
  border: none;
  font-weight: $boldWeight;
  font-size: 1.15rem;
}

.reviews-pagination::ng-deep.ant-pagination::ng-deep.ant-pagination-item.ant-pagination-item-active{
  color: $primaryColor;
}
