<div class="columns is-centered">
  <div class="column is-half reset-password-header">
    <a class="reset-password-header__book-lovers">
      <span class="reset-password-header__logo">BL<dot></dot></span>
      <span class="reset-password-header__text">Booklovers</span>
    </a>
  </div>
</div>
<div class="container">
  <div class="columns is-centered">
    <div class="column is-4-fullhd is-4-widescreen is-4-desktop reset-password-middle">
      <h1>Reset password</h1>
    </div>
  </div>
  <div class="columns is-centered is-mobile">
    <div class="column is-4-fullhd is-4-widescreen is-5-desktop is-5-tablet is-10-mobile">
      <ng-container>
        <form class="reset-password" nz-form [formGroup]="this.form">
          <ng-container>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="tokenErrorTemplate">
                <input formControlName="token" class="reset-password__input" nz-input type="text" placeholder="Token">
                <ng-template #tokenErrorTemplate let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    <div class="reset-password__form-error">
                      Token is required
                    </div>
                  </ng-container>
                </ng-template>
              </nz-form-control>
              <nz-form-control [nzErrorTip]="passwordErrorTemplate">
                <input formControlName="password" class="reset-password__input" nz-input type="text"
                  placeholder="Passowrd" />
                <ng-template #passwordErrorTemplate let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    <div class="reset-password__form-error">
                      Password is required
                    </div>
                  </ng-container>
                  <ng-container *ngIf="control.hasError('hasUpperCase') && !control.hasError('required')">
                    <div class="reset-password__form-error">Password should have atleast one
                      uppercase letter
                    </div>
                  </ng-container>
                  <ng-container *ngIf="control.hasError('hasNumber') && !control.hasError('hasUpperCase')">
                    <div class="reset-password__form-error">Password should contain atleast one number</div>
                  </ng-container>
                  <ng-container *ngIf="control.hasError('minlength') && !control.hasError('hasNumber')">
                    <div class="reset-password__form-error">Password should have atleast
                      {{form.get('password').errors.minlength.requiredLength}} characters.</div>
                  </ng-container>
                </ng-template>
              </nz-form-control>
              <nz-form-control [nzErrorTip]="repeatPasswordErrorTemplate">
                <input formControlName="repeatPassword" class="reset-password__input" nz-input type="password"
                  placeholder="Repeat password" />
                <ng-template #repeatPasswordErrorTemplate let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    <div class="reset-password__form-error">
                      Confirm password is required
                    </div>
                  </ng-container>
                  <ng-container *ngIf="control.hasError('passwordMismatch') && !control.hasError('required')">
                    <div class="reset-password__form-error"> Confirm password do not match</div>
                  </ng-container>
                </ng-template>
              </nz-form-control>
              <button (click)="resetPassword()" class="reset-password__btn" nz-button nzType="primary">Reset password</button>
            </nz-form-item>
          </ng-container>
        </form>
      </ng-container>
    </div>
  </div>
</div>
