<div class="columns container change-password">
  <div class="column is-11-fullhd">
    <ng-container *ngIf="this.pageFacade?.changePasswordForm$ | async as form">
      <form nz-form [formGroup]="form">
        <div class="columns mb-0">
          <div class="column is-3-fullhd mr-1">
            <nz-form-label class="change-password__label">Old password</nz-form-label>
          </div>
          <div class="column is-9-fullhd">
            <nz-form-item class="mb-0">
              <nz-form-control [nzErrorTip]="passwordErrorTemplate">
                <input formControlName="oldPassword" class="change-password__input" nz-input />
                <ng-template #passwordErrorTemplate let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    <div>
                     Old password is required
                    </div>
                  </ng-container>
                  <ng-container *ngIf="control.hasError('hasUpperCase') && !control.hasError('required')">
                    <div>Password should have atleast one
                      uppercase letter
                    </div>
                  </ng-container>
                  <ng-container *ngIf="control.hasError('hasNumber') && !control.hasError('hasUpperCase')">
                    <div>Password should contain atleast one number</div>
                  </ng-container>
                  <ng-container *ngIf="control.hasError('minlength') && !control.hasError('hasNumber')">
                    <div>Password should have atleast
                      {{form.get('oldPassword')?.errors?.minlength?.requiredLength}} characters.</div>
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="columns mb-0">
          <div class="column is-3-fullhd mr-1">
            <nz-form-label class="change-password__label">New password</nz-form-label>
          </div>
          <div class="column is-9-fullhd">
            <nz-form-item class="mb-0">
              <nz-form-control [nzErrorTip]="passwordErrorTemplate">
                <input formControlName="newPassword" class="change-password__input" nz-input />
                <ng-template #passwordErrorTemplate let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    <div>
                     New password is required
                    </div>
                  </ng-container>
                  <ng-container *ngIf="control.hasError('hasUpperCase') && !control.hasError('required')">
                    <div>Password should have atleast one
                      uppercase letter
                    </div>
                  </ng-container>
                  <ng-container *ngIf="control.hasError('hasNumber') && !control.hasError('hasUpperCase')">
                    <div>Password should contain atleast one number</div>
                  </ng-container>
                  <ng-container *ngIf="control.hasError('minlength') && !control.hasError('hasNumber')">
                    <div>Password should have atleast
                      {{form.get('newPassword')?.errors?.minlength?.requiredLength}} characters.</div>
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="columns">
          <div class="column is-3-fullhd mr-1">
            <nz-form-label class="change-password__label">Repeat password</nz-form-label>
          </div>
          <div class="column is-9-fullhd">
            <nz-form-item class="mb-0">
              <nz-form-control [nzErrorTip]="repeatPasswordErrorTemplate">
                <input formControlName="confirmPassword" class="change-password__input" nz-input type="password"/>
                <ng-template #repeatPasswordErrorTemplate let-control>
                  <ng-container *ngIf="control.hasError('required')">
                      <div>
                          Confirm password is required
                      </div>
                  </ng-container>
                  <ng-container
                      *ngIf="control.hasError('passwordMismatch') && !control.hasError('required')">
                      <div> Confirm password do not match</div>
                  </ng-container>
              </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="change-password__footer" *nzModalFooter>
          <button class="change-password__close" nz-button nzType="default" (click)="close()">Close</button>
          <button class="change-password__submit" nz-button nzType="primary" (click)="onSubmit(form)">Submit</button>
        </div>
      </form>
    </ng-container>

  </div>
</div>
