<div class="columns is-mobile is-centered">
  <div class="column is-6-fullhd is-6-widescreen is-6-desktop is-7-tablet is-12-mobile home-header">
    <a class="home-header__book-lovers">
      <span class="home-header__logo">BL<dot></dot></span>
      <span class="home-header__text">Booklovers</span>
    </a>
    <div class="home-header__navigation">
      <a class="home-header__browse" [routerLink]="['/browse']">Browse</a>
      <a class="home-header__login" [routerLink]="['/sign_in']">Login</a>
      <a class="home-header__sign-up" [routerLink]="['/sign_up']" >Sign up</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column is-6-fullhd is-7-widescreen is-8-desktop is-8-tablet is-10-mobile home-content">
      <div class="home-content__top">Make reading books a pleasure.</div>
      <div class="home-content__bottom">People often say they don't like to read books, and only do so because of
        work or school.Don't be
        like them. Break up with this. Join booklovers and become booklover<span>!</span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column is-6-fullhd is-7-widescreen is-8-desktop is-8-tablet is-10-mobile">
      <img src="../../../../assets/6607.jpg">
    </div>
  </div>
</div>
<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column is-6-fullhd is-7-widescreen is-8-desktop is-8-tablet is-10-mobile options">
      <div class="options__top">A few things you can do on Booklovers.</div>
      <div class="options__activities">
        <div class="options__activity">
          <div class="options__emoji">📕</div>
          <div class="options__text-box"><span class="options__text">See what books your friends are reading.</span></div>
        </div>
        <div class="options__activity">
          <div class="options__emoji">📚</div>
          <div class="options__text-box"><span class="options__text">Track the books you're reading, have read, and want
              to read.</span></div>
        </div>
        <div class="options__activity">
          <div class="options__emoji">⭐</div>
          <div class="options__text-box"><span class="options__text">Find out if a book is a good fit for you from our
              community’s reviews.</span></div>
        </div>
        <div class="options__activity last">
          <div class="options__emoji">🤝</div>
          <div class="options__text-box"><span class="options__text">Exchange books that u dont want with others</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column is-6-fullhd is-7-widescreen is-8-desktop is-8-tablet is-10-mobile">
      <div class="opinions">See what user think about us!</div>
    </div>
  </div>
</div>
<div class="container">
  <div class="columns is-multiline is-mobile is-centered">
    <div class="column is-3-fullhd is-4-widescreen is-4-desktop is-5-tablet is-11-mobile quotes">
      <div class="quotes__item first">
        <div class="quotes__content">"Knowing that every photograph, good or bad, can be a learning experience. From
          picking a subject to
          composing to post processing, there is much to be learned from daily exercise."
        </div>
        <div class="quotes__footer">- Michael Gatton</div>
      </div>
      <div class="quotes__item">
        <div class="quotes__content">"Knowing that every photograph, good or bad, can be a learning experience. From
          picking a subject to
          composing to post processing, there is much to be learned from daily exercise."
        </div>
        <div class="quotes__footer">- Michael Gatton</div>
      </div>
    </div>
    <div class="column is-3-fullhd is-4-widescreen is-4-desktop is-5-tablet is-11-mobile quotes">
      <div class="quotes__item first">
        <div class="quotes__content">"Knowing that every photograph, good or bad, can be a learning experience. From
          picking a subject to
          composing to post processing, there is much to be learned from daily exercise."
        </div>
        <div class="quotes__footer">- Michael Gatton</div>
      </div>
      <div class="quotes__item">
        <div class="quotes__content">"Knowing that every photograph, good or bad, can be a learning experience. From
          picking a subject to
          composing to post processing, there is much to be learned from daily exercise."
        </div>
        <div class="quotes__footer">- Michael Gatton</div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column is-6-fullhd is-7-widescreen is-8-desktop is-8-tablet is-10-mobile fees">
      <div class="fees__top">No fees required.</div>
      <div class="fees__bottom">Joining our community is costless.You are getting full access to all
        features with no fees or subscription. Dont wait and organize your bookcase in the way you want<span>!</span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column is-6-fullhd is-7-widescreen is-8-desktop is-8-tablet is-10-mobile">
      <img src="../../../../assets/undraw_Bookshelves_re_lxoy.png">
    </div>
  </div>
</div>
<div class="container">
  <div class="columns is-centered">
    <div class="column is-6-fullhd is-6-widescreen is-6-desktop" class="register-account">
      <a [routerLink]="['/sign_up']" class="register-account__link">Start now!</a>
    </div>
  </div>
</div>
<app-footer></app-footer>
