<div class="comment-sorting-options">
    <div class="comment-sorting-options__descending">
        <label nz-checkbox (ngModelChange)="changeSortOrder()"
            [ngModel]="descending">Descending
        </label>
    </div>
    <div class="comment-sorting-options__sort-by">Sort by:</div>
    <a nz-dropdown [nzDropdownMenu]="menu">
        {{sortNameOptions[sortNameText]}}
        <i nz-icon nzType="down"></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul class="comment-sorting-options__menu"nz-menu nzSelectable>
            <li class="comment-sorting-options__item" (click)="sortByDate()" nz-menu-item>Date</li>
            <li class="comment-sorting-options__item" (click)="sortByLikes()" nz-menu-item>Likes</li>
        </ul>
    </nz-dropdown-menu>
</div>
