
@import '../../../../shared/variables';

$book-stats:".book-stats";

#{$book-stats}{

  &__stars{
    display: flex;
    justify-content: center;
    margin: 1.5rem 0rem 1.5rem 0rem;
  }
  &__rate::ng-deep .ant-rate{
    margin-left: 0rem !important;
    margin-top:0rem !important;
  }

  &__rate::ng-deep.ant-rate::ng-deep.ant-rate-star{
    color: $primaryColor !important;
    font-size: 1.5rem !important;
  }

  &__content{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }


  &__average{
    display: flex;
    justify-content: center;
  }

  &__ratings{
    display: flex;
  }

  &__text{
    font-size: 1.35rem;
  }

  &__value{
    font-size: 1.35rem;
    margin-left: 0.5rem;
    color: $primaryColor;
  }
}
